<!-- ============================================================== -->
        <!-- left sidebar -->
        <!-- ============================================================== -->
        <div class="nav-left-sidebar sidebar-dark">
            <div class="menu-list">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <a class="d-xl-none d-lg-none" href="#">Dashboard</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav flex-column">
                            <li class="nav-divider">
                                Menu
                            </li>
                            
                            
                            <li class="nav-item">
                                <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-3" aria-controls="submenu-3"><i class="fas fa-fw fa-chart-pie"></i>Service</a>
                                <div id="submenu-3" class="collapse submenu" style="">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link" routerLink="addService">Add Service</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" routerLink="manageService">Manage Service</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-4" aria-controls="submenu-4"><i class="fas fa-fw fa-chart-pie"></i>Document</a>
                                <div id="submenu-4" class="collapse submenu" style="">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link" routerLink="/layout/adddocument">Add Document</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" routerLink="/layout/managedocument">Manage Document</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link"  routerLink="/layout/subservice" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-5" aria-controls="submenu-5"><i class="fas fa-fw fa-chart-pie"></i>Subservices</a>
                                <div id="submenu-5" class="collapse submenu" style="">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link" routerLink="/layout/addsubservices">Add Subservices</a>
                                        </li> 
                                        <li class="nav-item">
                                            <a class="nav-link" routerLink="/layout/managesubservices">Manage Subservices</a>
                                        </li> 
                                                                              
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-6" aria-controls="submenu-6"><i class="fas fa-fw fa-chart-pie"></i>Commission</a>
                                <div id="submenu-6" class="collapse submenu" style="">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link" routerLink="/layout/commissionrate">Commission Rate</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" routerLink="/layout/managecommission">Manage Commission </a>
                                        </li>
                                                                             
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" routerLink="/layout/vendorrequest"href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-7" aria-controls="submenu-7"><i class="fas fa-fw fa-chart-pie"></i>Vendor Request</a>
                                <div id="submenu-7" class="collapse submenu" style="">
                                    
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" routerLink="/layout/vendorservice" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-8" aria-controls="submenu-8"><i class="fas fa-fw fa-chart-pie"></i>Vendor Services</a>
                                <div id="submenu-8" class="collapse submenu" style="">
                                    
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-9" aria-controls="submenu-9"><i class="fas fa-fw fa-chart-pie"></i>View all the customers</a>
                                <div id="submenu-9" class="collapse submenu" style="">
                                    
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-10" aria-controls="submenu-10"><i class="fas fa-fw fa-chart-pie"></i>View Booking</a>
                                <div id="submenu-10" class="collapse submenu" style="">
                                    
                                </div>
                            </li>
                           
                            <li class="nav-item">
                                <a class="nav-link" routerLink="/layout/assignmentsubmit" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-20" aria-controls="submenu-20"><i class="fas fa-fw fa-chart-pie"></i>Assignment Submit</a>
                                <div id="submenu-20" class="collapse submenu" style="">
                                    
                                </div>
                            </li>
                            
                            <li class="nav-divider">
                                Vendor
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-11" aria-controls="submenu-11"><i class="fas fa-fw fa-chart-pie"></i>Register</a>
                                <div id="submenu-11" class="collapse submenu" style="">
                                    
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-12" aria-controls="submenu-12"><i class="fas fa-fw fa-chart-pie"></i>Login</a>
                                <div id="submenu-12" class="collapse submenu" style="">
                                    
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-13" aria-controls="submenu-13"><i class="fas fa-fw fa-chart-pie"></i>Add Vendor Service</a>
                                <div id="submenu-13" class="collapse submenu" style="">
                                    
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-14" aria-controls="submenu-14"><i class="fas fa-fw fa-chart-pie"></i>Manage Vendor Service</a>
                                <div id="submenu-14" class="collapse submenu" style="">
                                    
                                </div>
                            </li>
                            <li class="nav-divider">
                                Customer
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-3" aria-controls="submenu-3"><i class="fas fa-fw fa-chart-pie"></i>Register</a>
                                <div id="submenu-3" class="collapse submenu" style="">
                                    
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-3" aria-controls="submenu-3"><i class="fas fa-fw fa-chart-pie"></i>Login</a>
                                <div id="submenu-3" class="collapse submenu" style="">
                                    
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-3" aria-controls="submenu-3"><i class="fas fa-fw fa-chart-pie"></i>View Service</a>
                                <div id="submenu-3" class="collapse submenu" style="">
                                    
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-3" aria-controls="submenu-3"><i class="fas fa-fw fa-chart-pie"></i>View SubService</a>
                                <div id="submenu-3" class="collapse submenu" style="">
                                    
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-3" aria-controls="submenu-3"><i class="fas fa-fw fa-chart-pie"></i>Add to cart services</a>
                                <div id="submenu-3" class="collapse submenu" style="">
                                    
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-3" aria-controls="submenu-3"><i class="fas fa-fw fa-chart-pie"></i>Book Service</a>
                                <div id="submenu-3" class="collapse submenu" style="">
                                    
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-3" aria-controls="submenu-3"><i class="fas fa-fw fa-chart-pie"></i>View Booking</a>
                                <div id="submenu-3" class="collapse submenu" style="">
                                    
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- end left sidebar -->
        <!-- ============================================================== -->